/* Heading */
@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap'); 
/* Text */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Geo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geo', sans-serif;
    font-family: 'Courier Prime', monospace;
    /* font-family: 'Nunito', sans-serif; */
}
:root{
    --black:rgb(0,0,0);
    --white:rgb(255,255,255)
}
::-webkit-scrollbar{
    display: none;
}
body{
    min-height: 100vh;
    background: var(--black);
    color: var(--white);
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.heading{
    position: relative;
    margin: 10px 0px;
    margin-top: 20px;
}

.heading h1{
    color: white;
    font-size: 5rem;
    letter-spacing: 3px;
    font-family: 'Geo', sans-serif;
    text-align: center;
    text-shadow: 4px 4px 4px rgb(1, 1, 151);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0px;
}

.box{
    position: relative;
    width: 320px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    transition: 0.5s;
}

.box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 45px;
    width:calc(100% - 30%);
    height: 100%;
    background:var(--white);
    border-radius: 8px;
    transition: 0.5s;
}
.box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 45px;
    width:calc(100% - 30%);
    height: 100%;
    background:var(--white);
    border-radius: 8px;
    transition: 0.5s;
    filter: blur(10px);
}

.box:nth-child(2n+1)::before, .box:nth-child(2n+1)::after{
    background: linear-gradient(135deg,#52057B,#BC6FF1);
    background: linear-gradient(135deg,#004D40,#BDBDBD);

}
.box:nth-child(2n)::before, .box:nth-child(2n)::after{
    background: linear-gradient(135deg,#293A80,#537EC5);
    background: linear-gradient(135deg,#37474F,#80DEEA);
}

.box span{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.box span::before{
    content:'';
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
}
.box:hover span::before{
    bottom:-50px;
    right: 40px;
    width: 100px;
    height: 100px;
    opacity: 1;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}


.box span::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
}
.box:hover span::after{
    top:-50px;
    left: 40px;
    width: 100px;
    height: 100px;
    opacity: 1;
    animation: animate 2s ease-in-out infinite;
    animation-delay: -1s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

@keyframes animate {
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}
.content{
    position: relative;
    left: 0px;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 5px 15px rgba(255,255,255,0.1);
    border-radius: 8px;
    z-index: 1;
    transition: 0.5s;
    color: var(--white);
    
}

.content h2{
    font-size: 1.8rem;
    color: var(--white);
    margin-bottom: 10px;
}
.content h2 i{
    margin-right: 10px;
}
.content p{
    font-size: 1.2rem;
    margin: 10px 0px;
    /* letter-spacing: 1px; */
    font-weight: 500;
}

.btn{
    width: 150px;
    height: 40px;
    font-size: 1.1rem;
    /* letter-spacing: 1.5px; */
    font-weight: bold;
    margin:8px 0px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: all 0.5s ease-out;
    background-color:#2075a0;
}
.btn:hover{
    box-shadow: inset 151px 0px 0px 0px #fff;
    color: black;
}
